<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="sawareCea"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.sawarebpm.entity.Business</class>
        <class>com.company.sawarebpm.entity.questionnaire.Questionnaire</class>
        <class>com.company.sawarebpm.entity.questionnaire.RequestedCredit</class>
        <class>com.company.sawarebpm.entity.directories.Bank</class>
        <class>com.company.sawarebpm.entity.directories.Document</class>
        <class>com.company.sawarebpm.entity.directories.Source</class>
        <class>com.company.sawarebpm.entity.directories.Demand</class>
        <class>com.company.sawarebpm.entity.directories.BusinessStatus</class>
        <class>com.company.sawarebpm.entity.directories.SuitableBankStatus</class>
        <class>com.company.sawarebpm.entity.directories.Service</class>
        <class>com.company.sawarebpm.entity.directories.ServiceStatus</class>
        <class>com.company.sawarebpm.entity.questionnaire.CurrentLoan</class>
        <class>com.company.sawarebpm.entity.questionnaire.ClosedLoans</class>
        <class>com.company.sawarebpm.entity.client.Client</class>
        <class>com.company.sawarebpm.entity.client.AdditionalContact</class>
        <class>com.company.sawarebpm.entity.questionnaire.Quest_legal</class>
        <class>com.company.sawarebpm.entity.questionnaire.Quest_Indiv</class>
        <class>com.company.sawarebpm.entity.questionnaire.SourcesOfIncome</class>
        <class>com.company.sawarebpm.entity.questionnaire.Quest_phys</class>
        <class>com.company.sawarebpm.entity.client.ContractorPhys</class>
        <class>com.company.sawarebpm.entity.questionnaire.LastEnt</class>
        <class>com.company.sawarebpm.entity.ticket.Ticket</class>
        <class>com.company.sawarebpm.entity.underwriting.Underwriting</class>
        <class>com.company.sawarebpm.entity.contract.Contract</class>
        <class>com.company.sawarebpm.entity.client.Company</class>
        <class>com.company.sawarebpm.entity.contract.ServiceLine</class>
    </persistence-unit>
</persistence>
